*{
    margin:0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background:#fff;
    height:auto;
    width: auto;
    padding: 0;
    justify-content: center;
}

.yamaha-text{
  background-color:#fff;
  margin-top: 10px;
  height: auto;
  width: 500px;
  margin-left: 0px;
}

.yamaha-text h1 {

    padding:10px 2px 0px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 48px;
}

.yamaha-text p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 24px;
    padding: 20px 8px 0px 20px ;

}

.card{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 8px rgb(0,0,0,0.3);
    padding: 4px 5px 0px 4px;
    margin: 30px 10px 30px 10px;
    text-align: center;
    width: 180px ;
    height: 150px;
}
.card1{
    margin-top: 40px;
    background-color:#fff;
    height:auto;
    margin-left: 0px;
    width: auto;
}

.card2{
    margin-top: 30px;
    background-color:#fff;
    height: auto;
    width: auto;

}
.cards1{
    padding-top: 60px;
}
.cards2{
    padding-top: 40px;
}
.card h2{
    padding:20px 10px 2px 10px;
    margin: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    font-style: italic;
    text-align: left;
    color: red;
}

.card p{
    font-size: 16px;
    padding: 20px 10px 2px 10px;
    margin: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
}

.yamaha-logo{
    height: auto;
    width: 500px;
}
.yamaha-logo img{
    height:40%;
    width: 40%;
    background: #fff;
    margin: 10px 20px 20px 40px;
}
.video{
    background-color:red;
    height: 500px;
    width: 350px;
    margin: 120px 0px 0px 10px;
    transform:skewY(2deg);
}

.video iframe{
    height: 100%;
    width: 100%;
} 
