@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: poppins;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: black;
  background-color: rgb(205, 197, 197);
}

.hero-section {
    position: relative;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .scroll-text {
    position: absolute;
    bottom: 20px;
    left: -100%; /* Start off-screen */
    transition: left 2s ease-in-out;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .scroll-text {
      font-size: smaller;
      bottom: 10px;
    }
  }
  